* {
	margin: 0;
	padding: 0;
}


body {
	background: url(background2.jpg) no-repeat center center fixed;
	background-size: cover;
}



/*#page-wrap {
	margin: 0px auto;
	padding: 20px;
	text-align: center;

}*/

.container {
	margin: 0px auto;
	padding: 20px;
	text-align: center;
}

#slogan {
	position: relative;
	top: 250px;
	text-align: center;
}

.button {
	position: relative;
	top: 350px;
	text-align: center;
	padding: 15px 32px;


}

h1 {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #000;
}

.btn-primary {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	transition: all .2s ease-in-out;
}

.btn-primary:hover {
	transform: scale(1.1); 
}